<!doctype html>
<html>
<title>uploaded</title>
<body>

<p> {{json_data['foods'][0]['food_name']}}</p>
 <p>	{{json_data['foods'][0]['serving_qty']}}</p>
<p>  {{json_data['foods'][0]['serving_unit']}}</p>
<p>  {{json_data['foods'][0]['nf_total_fat']}}</p>

<p>  {{json_data['foods'][0]['nf_saturated_fat']}}</p>
<p>{{  json_data['foods'][0]['nf_cholesterol']}}</p>
<p>{{  json_data['foods'][0]['nf_sodium']}}</p>
<p>{{      json_data['foods'][0]['nf_total_carbohydrate']}}</p>
<p>{{  json_data['foods'][0]['nf_dietary_fiber']}}</p>
<p>{{  json_data['foods'][0]['nf_sugars']}}</p>
<p>{{  json_data['foods'][0]['nf_protein']}}</p>
<p>{{  json_data['foods'][0]['nf_potassium']}}</p>
<p>{{  json_data['foods'][0]['nf_p']}}</p>
<h1>Answer:{{result}}</h1>
</body>
</html>
